################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LEARNLY/.vs/LEARNLY/FileContentIndex
